.startForm {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.startForm :global .column {
    max-width: 30rem !important;
}

.startForm :global .message {
    border-radius: 10rem;
    margin-top: 0 !important;
}

.startForm :global .selection {
    border-radius: 10rem !important;
}

.startForm :global input {
    border-radius: 10rem !important;
}

.startForm :global .sidebarView {
    border-radius: 0.28571429rem !important;
}

.startForm :global .sidebarView input {
    border-radius: 0.28571429rem !important;
}

.startForm :global .notempty .icon {
    opacity: 1 !important;
}

.startForm :global h2 {
    color: rgba(191,191,191,.87) !important;
}