.adminContainerMobile {
    margin: 0 !important;
    padding-left: 0 !important;
    transition: none;
}

.adminContainerMobile :global .row:last-child .column {
    overflow-x: auto;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    margin-top: 0 !important;
}

.adminContainerMobile :global .row:nth-child(2) .column {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: unset;
    box-shadow: unset;
    margin-bottom: 0 !important;
}

.adminContainerPCOpen {
    margin: 0 !important;
    padding-left: 10.714rem !important;
    transition-property: padding-left;
    transition-duration: 0.5s;
}

.adminContainerPCOpen :global .row:last-child .column {
    overflow-x: auto;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    margin-top: 0 !important;
}

.adminContainerPCOpen :global .row:nth-child(2) .column {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: unset;
    box-shadow: unset;
    margin-bottom: 0 !important;
}

.adminContainerPCClose {
    margin: 0 !important;
    padding-left: 0 !important;
    transition-property: padding-left;
    transition-duration: 0.5s;
}

.adminContainerPCClose :global .row:last-child .column {
    overflow-x: auto;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    margin-top: 0 !important;
}

.adminContainerPCClose :global .row:nth-child(2) .column {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: unset;
    box-shadow: unset;
    margin-bottom: 0 !important;
}

.adminContainerMobile :global .message {
    border: none; 
    margin: 1rem 1rem 0 1rem !important;
    width: 100%;
}

.adminContainerPCOpen :global .message {
    border: none; 
    margin: 1rem 1rem 0 1rem !important;
    width: 100%;
}

.adminContainerPCClose :global .message {
    border: none; 
    margin: 1rem 1rem 0 1rem !important;
    width: 100%;
}

.adminContainerMobile :global .row {
    padding: 0 !important;
}

.adminContainerPCOpen :global .row {
    padding: 0 !important;
}

.adminContainerPCClose :global .row {
    padding: 0 !important;
}

.adminContainerMobile :global .column {
    padding: 0 !important;
    margin: 1rem !important;
}

.adminContainerPCOpen :global .column {
    padding: 0 !important;
    margin: 1rem !important;
}

.adminContainerPCClose :global .column {
    padding: 0 !important;
    margin: 1rem !important;
}
