.trigger {
    box-shadow: none !important;
}

.fieldsCustomizer :global .content {
    padding: 0 !important;
}

.fieldsCustomizer :global .header .content {
    padding-left: 0.5rem !important;
}

.fieldsCustomizer :global .table {
    border: 0;
}

.fieldsCustomizer :global .buttons .button {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

