.adminForm :global .fields {
    margin: 0 0 1rem !important;
}

.adminForm :global .unstackable .field:first-child {
    padding-left: 0 !important;
    width: 92% !important;
}

.adminForm :global .unstackable .field:last-child{
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0 !important;
    margin-bottom: 1px !important;
    width: 8% !important;
}

.adminForm :global .auth .unstackable .field:first-child {
    width: 88% !important;
}

.adminForm :global .auth .unstackable .field:last-child{
    width: 12% !important;
}

.adminForm :global .mobile .unstackable .field:first-child {
    width: 88% !important;
}

.adminForm :global .mobile .unstackable .field:last-child{
    width: 12% !important;
}

.adminForm :global .unstackable .button {
    margin-right: 0 !important;
}

.adminForm :global input:hover {
    border-color: rgba(34,36,38,.35) !important;
}

.adminForm :global .fields:last-child {
    padding-top: 1rem !important;
    margin-bottom: 0 !important;
}

.adminForm :global .fields:last-child .field {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.adminForm :global .fields:last-child .field:first-child {
    padding-left: 0 !important;
}

.adminForm :global .fields:last-child .field:last-child {
    padding-right: 0 !important;
}

.adminForm :global .mobile .fields:last-child .field {
    padding: 0 !important;
}

.adminForm :global .message .button {
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
    background-color: #e0b4b4;
    color: #fff6f6;
}

.adminForm :global .message .button:hover {
    box-shadow: 0 0 0 1px #9f3a38 inset, 0 0 0 0 transparent;
    background-color: #9f3a38;
    color: #fff6f6;
}

.adminForm :global .warningICO {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.21428571em;
    top: .78571429em;
    right: 1em;
    z-index: 3;
    margin: -.78571429em;
    padding: .91666667em;
    opacity: .8;
    transition: opacity .1s ease;
    font-size: .85714286em;
    color: #9f3a38;
}