.clientDataGrid :global .items {
    margin: 0 !important;
    width: 100%;
}

.clientDataGrid :global .items > .item:last-child {
    padding-top: 1.5rem;
}

.clientDataGrid :global .items > .item:first-child {
    padding-bottom: 1.5rem;
}

.clientDataGrid :global .items > .item:first-child {
    padding-bottom: 1.5rem;
}