.dataGrid {
    border-radius: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 0 !important;
}

.dataGrid thead th {
    border-left: 0 !important;
    border-right: 0 !important;
}

.dataGrid thead th:first-child {
    padding: 1rem;
}

.dataGrid tbody tr td:first-child {
    padding: 1rem;
}

.dataGrid tbody tr td:last-child :global .button {
    box-shadow: none !important;
}

.dataGrid tfoot th {
    line-height: 3rem;
}

.dataGrid tfoot :global .dropdown {
    margin-left: 1rem;
    margin-right: 1rem;
}

.dataGrid tfoot :global .pagination {
    box-shadow: none;
}



