.dropFilter {
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.dropFilter :global .label {
    background: none;
    color: rgba(0, 0, 0, 0.54);
}

.dropFilter :global .button {
    margin-left: 0.25rem;
}