.layout {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important; 
    box-shadow: none !important; 
    padding-top: 3.603em !important;
    height: 100%;
}