.dateNavBar {
    width: 21rem !important;
    height: 3rem;
}

.dateNavBar td {
    cursor: pointer;
}

.dayPicker {
    width: 21rem !important;
    height: 21rem;
}

.dayPicker th {
    padding: 0 !important;
    height: 3rem;
}

.dayPicker td {
    cursor: pointer;
    padding: 0;
    width: 14.285714%;
}

.timePicker {
    width: 21rem !important;
    height: 18rem;
}

.timePicker td {
    cursor: pointer;
}

.datePickerPopup {
    padding: 0 !important;
    border: 0 !important;
}

.datePickerModal {
    height: 100%; 
    width: 21rem !important;
    background: none !important; 
    box-shadow: none !important;
}

.datePickerModal  :global .grid {
    height: 100%; 
    margin: 0;
    padding: 0;
}

.datePickerModal :global .column {
    margin: 0 !important;
    padding: 0 !important;
}

.datePickerModal :global .container {
    width: 21rem;
    margin: 0; 
    padding: 1rem;
}
