.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    border: none !important;
    border-radius: unset !important;
    margin: 0 !important;
    padding: 0 !important;
}

.header :global .grid {
    width: 100%;
    margin: 0 !important;
    padding: 1rem !important;
}

.header :global .sideMenu {
    width: 22.5rem !important;
    padding: 0 !important;
}

.footer {
    border: none !important;
    border-radius: unset !important;
    margin: 0 !important;
    padding: 3rem 0rem !important;
}

.footer :global .grid {
    margin: 0 !important;
    padding: 0 !important;
}